{% extends 'base.html' %}

{% block page_title %}About - DTG{% endblock %}
{% block page_header %}About{% endblock %}

{% block page_content %}

<div class="jumbotron">
  <h1 class="display-4">Hello Customer</h1>
  <p class="lead">We are more than happy to have you on our site, however we would like you to get to know us a bit better before we get too serious with eachother.</p>
  <hr class="my-4">
  <p>We are a growing graphical business, we would like to tell you our story...</p>
  <p class="lead">
    Hi
  </p>
</div>

{% endblock %}