{% extends 'base.html' %}

{% block page_title %}Products - DTG{% endblock %}

{% block page_content %}

<!--  MOBILE CAROUSEL  -->

<div class="col-xs-12">
    <div style="margin: auto; width: 50%; background-image: url('{{ MEDIA_URL }}/images/hapsbaps.jpg')"></div>
</div>

<div class="row row-flex">
{% for product in products %}

<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default product-centering">
    <div class="panel-body">
        <div class="product product-img-margin" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
        <div class="product-area">
        <h3>{{ product.name }}</h3>
        <p class="product-description" style="min-height: 100px !important;">{{ product.description }}</p>
        <p><i class="fa fa-gbp"></i> {{ product.price }}</p>
        </div>

        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit"><i class="fa fa-cart-plus"></i> Add</button>
                </span>
            </div>
            
        </form>
        
    </div>
</div>

{% endfor %}
</div>

{% endblock %}